// CONFIGURATION

$carousel-items-count: 5;
$main-font: 'Lato', sans-serif;
$width-break: 816px; // Defines screen width break level

// COLORS

$body-bgc: #e6e6e6;
$carousel-bgc: #b7b5b3;

$gold: #d3aa6f;
