.carousel-wrapper {
    @include flex-row();

    height: 240px;
    background-color: $carousel-bgc;
    overflow-x: hidden;
    
};
    
    .carousel-item {
        @include flex-col();
        flex-shrink: 0;
        
        text-shadow: 1px 1px #666;
        padding-left: 30px;
        width: 240px;
        height: 100%;
        box-sizing: border-box;
        
        .title {
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            margin-top: 123px;
            width: 150px;
            height: 42px;
            z-index: 1;
        }

        .description {
            font-size: 14px;
            font-weight: 900;
            margin-top: 20px;
            color: $gold;
            z-index: 1;
        }

        &:hover {
            text-shadow: none;
            position: relative;
            transition-duration: $transitions-time;
            cursor: default;
            
            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                background-color: #000;
                opacity: 0.7;
                transition-duration: $transitions-time;
            }
            .description {
                color: #fff;
                transition-duration: $transitions-time;
            }
        }
    }

@include render-carousel-items();